<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>theAquarianTeacher</title>

    <link rel="stylesheet" href="/timeline.css">
    <link rel="stylesheet" href="/timeline_rdw_additions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="title">A Brief History of Yoga</h1>
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=11;" data-year="?-1800 BC">
          <div class="swiper-slide-content"><span class="timeline-year">?-1800 BC</span>
              <h4 class="timeline-title">Prehistoric Epoch</h4>
              <p class="timeline-text"><strong>There is evidence that the rudiments of yoga and meditation are known during this period.</strong></p>
              <p class="timeline-text para1">We know very little about the civilzations of this early period. Archeology has given a few hints. Speculation fills the rest of the gaps of our knowledge. There are only fragments of later writings that refer to these early periods. These references are presented in mythical form...<button class="nextParagraph">Read More</button></p>
              
              <p class="timeline-text para2">Yogi Bhajan once commented that the oldest records in the scrolls of Tibet told of civilizations flourishing over 40,000 years ago. He says that even in those times there were forms of yoga and meditation. The biggest changes in those times came from the massive shifts in global wealth patterns and the consequent crop and wildlife adaptations...<button class="nextParagraph">Read More</button></p>
              
              <p class="timeline-text para3">He specifcally mentioned a massive shift in weather about 10,0000 years ago that forced migrations. It was these migrations that blended cultures from different areas and which catalysted the development of many of the new cultural forms of spiritual practice. He emphasized that the early forms of yoga were systematized 100,000 years ago... <button class="nextParagraph">Read More</button></p>

              <p class="timeline-text para4">They were then reformulated in later cultures at 80,000, 40,000,  and 10,000 years ago, and they are being reformulated now...<button class="nextParagraph">Read More</button></p>

              <p class="timeline-text para5">In the period a few hundred years prior to 1800 BC, ancient India was concentrated in the Indus River valley. The civlization spanned hundreds of miles in the north, northwest and western sections of contemporary India and Pakistan...<button class="nextParagraph">Read More</button></p>

              <p class="timeline-text para6">Two great cities have been excavated: Harappa in the north and Mohenjo-Daro along the southern end of the Indus river. The people were sophisticated and had elaborate socio-politico-religious organizations. They carried on commerce with trade routes stretching from europe to China. They even had a system of running water, baths, and a swer system that included sit down toilets in some homes...<button class="nextParagraph">Read More</button></p>
              <p class="timeline-text para7">There is evidence that the rudiments of yoga were known, and cities contained as many as 50,000 people by some estimates. The great cities survived in stable modes for over a thousand years. We know little of this time. The artifacts and records are sparse...<button class="nextParagraph">Read More</button></p>

              <p class="timeline-text para8">It is clear that they already had the concept and practice of meditation. They used symbols for the feminine and masculine powers in the universe that are still used in modern art and religions...<button class="nextParagraph">Read More</button></p>

              <p class="timeline-text para9">Although we were not left with specific texts and scriptures, the motifs of the meditation on Shiva, Shakti and Vishnu run through all the later scriptures and techniques.<button class="resetParagraphs">From the top</button></p>


          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=12;" data-year="2012">

          <div class="swiper-slide-content"><span class="timeline-year">2012</span>
            <h4 class="timeline-title">Our nice super title</h4>
            <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=13;" data-year="2013">
          <div class="swiper-slide-content"><span class="timeline-year">2013</span>
            <h4 class="timeline-title">Our nice super title</h4>
            <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=14;" data-year="2014">
          <div class="swiper-slide-content"><span class="timeline-year">2014</span>
            <h4 class="timeline-title">Our nice super title</h4>
            <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=15;" data-year="2015">
          <div class="swiper-slide-content"><span class="timeline-year">2015</span>
            <h4 class="timeline-title">Our nice super title</h4>
            <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=16;" data-year="2016">
          <div class="swiper-slide-content"><span class="timeline-year">2016</span>
            <h4 class="timeline-title">Our nice super title</h4>
            <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<script src="/timeline.js"></script>
<script src="/timeline_rdw_additions.js"></script>
</body>
</html>
