<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>theAquarianTeacher</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
   <p>Ong namo. Guru dev namo.</p>
</body>
</html>
