.para2, .para3, .para4, .para5, .para6, .para7, .para8, .para9 {
    display: none
}

button {
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  background: #d4a024;
  color:white;
  margin-left: 0.4em;
}

